.footer-text {
  font-weight: bold;
}
.copyright {
  display: inline-block;
  margin-top: 35px;
}
.copyright li {
  list-style-type: none;
}
.logos {
  padding-right: 30px;
}
.logos img {
  display: inline-block;
}
.hero-text,
.nativeApp-text {
  position: relative;
  color: white;
  width: 500px;
}
.nativeApp-text {
  padding-top: 150px;
}
.nativeApp-text h2:nth-child(1) {
  margin-bottom: 0;
}
.nativeApp-text h2:nth-child(2) {
  margin-top: 0;
}
.nativeApp .btn-native,
.nativeApp .btn-native:focus,
.nativeApp .btn-native:hover,
.nativeApp .btn-native:active,
.mapRow .btn-map,
.mapRow .btn-map:focus,
.mapRow .btn-map:hover,
.mapRow .btn-map:active {
  border-radius: 0;
  width: 150px;
  background-color: #0f69c9;
  color: white;
  background-image: none;
  border: none;
}
.mapRow .btn-map,
.mapRow .btn-map:focus,
.mapRow .btn-map:hover,
.mapRow .btn-map:active {
  background-color: #fff;
  color: #333;
}
.mapBg, .nativeApp {
  background-color: #0f69c9;
  padding-bottom: 30px;
  padding-top: 30px;
}
.mapRow {
  background-color: #0f69c9;
}


.nativeApp section {
  width: 100%;
}
.nativeApp section:first-child { padding-top: 40px; }
@media screen and (max-width: 768px) {
    .nativeApp section:first-child { padding-top: 180px; }
}
