.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  height: 100vh;
  background: #fff;
  z-index: 99;
  display: none;
}
.slideLeft {
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.slideLeft-active {
  display: block;
  width:30%;
}
.sidebar-back-button {
  top: 60px;
  position: absolute;
  left: 10px;
  color: #0066cc;
  cursor: pointer;
}

.sidebar-header {
  height: 90px;
  position: relative;
}

.sidebar-photo {
  padding: 5px;
}

.sidebar-details {
  background: #ededed;
}
.sidebar-heading {
  font-size: 18px;
  padding: 15px 10px 5px 10px;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #333;
}
.sidebar-description {
  height: 20%;
}
.sidebar-description p {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px;
}
.sidebar-text {
  background: #ededed;
}
.sidebar-text-details {
  font-weight: bold;
  color: #333;
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
}
.sidebar-text-details li {
  padding-top: 10px;
  padding-left: 10px;
}
