.mapboxgl-popup-content {
  border-radius: 0;
  border-top: 5px solid #0066cc;
}
.popup-label-photographer,
.popup-label-date,
.popup-label-species {
  font-weight: bold;
}

.popup-label-more-info {
  color: #0066cc;
  cursor: pointer;
}
.popup-item {

}
